.Blog-Card{
    background-color: rgb(152, 209, 241);
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border:1px rgba(0, 0, 0, 0.1) ;
    text-decoration: none;
    color: black;
}
.Blog-Card:hover{
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.4);

}
.Blog-title{
  font-size: 20px;
}
.blog-content-preview{
    font-size: 14px;
}
.author-avatar{
    height: 20px;
    border-radius: 50%;

}
.author-name{
    font-size: 12px;
    font-style: italic;
    margin-left: 10px;
}
.author-card{
    display: flex;
    align-items: center;
    margin: 5px 10px;
}
.blog-date{
    font-size: 12px;
    font-style: italic;
    margin-left: 14px;
}
.category-badge{
    background-color: rgb(53, 8, 255);
    color: black;
    padding: 2px 10px;
    margin: 5px;
    font-size: 10px;
    border-radius: 20px;
}

